label{
    font-weight: bold !important;
}
table{
    font-size:13px !important;
}
input{
    text-transform: uppercase;
}
#_amount{
    font-size:3rem;
    margin-left:100px;
    width: 200px;
}
.details label{
    font-size:20px !important;
    color:red;
}
.details{
    position: relative;
    text-align: center;
    color: white;
}
.d_name{
position:absolute;
left:40%;
top:83px;
}
.d_passport{
position:absolute;
top:105px;
left:27%;
}
.d_amount{
position:absolute;
top:127px;
left:17%;
}
.d_section{
position:absolute;
top:125px;
left:51%;
}
.d_date{
position:absolute;
top:153px;
left:22%;
}
.d_processor{
position:absolute;
top:176px;
left:22%;
}
.d_certno{
position:absolute;
top:297px;
left:68%;
}
.tec_name{
position:absolute;
left:45%;
top:82px;
}
.tec_passport{
position:absolute;
top:105px;
left:22%;
}
.tec_section{
position:absolute;
top:125px;
left:22%;
}
.tec_ticket{
position:absolute;
top:120px;
left:69%;
}
.tec_date{
position:absolute;
top:152px;
left:27%;
}
.tec_or{
position:absolute;
top:177px;
left:27%;
}
.tec_processor{
position:absolute;
top:209px;
left:27%;
}
.tec_certno{
position:absolute;
top:293px;
left:73%;
}