body {
    font-family: cambria;
    font-size: 9pt;
    background: white;
    overflow-x: scroll;
}
.report-title {
    font-size: 14pt;
    letter-spacing: 2px;
    font-weight: 600;
    text-align: center;
}
td {
    padding: 3px;
    font-size: 9pt;
    white-space: nowrap;
}
tbody tr td {
    border: 1px solid #000;
}
table {
    border-spacing: 0px;
}

.centered-contact {
    position: absolute;
    right: 9%;
    top: 35px;
    font-size: 12px;
}
.footer {
    position: fixed;
    bottom: 0;
    display: none;
}
.centered-contact td {
    padding-top: 
}
.table-header {
    text-align: center;
    white-space: nowrap;
    padding: 3px;
    background: gray;
    color: white;
}
.table-header th {
    border: 1px solid black;
}
.th_noshow {
    display: none;
}
@media print {
    .footer {
        display: block;
    }
    tfoot {
        opacity: 0;
    }
    .centered-contact {
        right: 2%;
        position: fixed;
    }
    .th_noshow {
        display: block;
    }
}