.modal-certificate {
    width: 70rem !important;
}
.border-black {
	border: 1px solid black;
}
.margin-top {
	margin-top: 10px;
}
.alert-danger-select2 {
	border: 1px solid red !important;
}

.has-error .select2-selection {
    border-color: #ec5548 !important;
}

.dropdown-item:hover {
	cursor: pointer;
}

.event-background{
    background: url("../img/bg-tiezadarker.png");
    background-position: center;
    background-size: cover;
    background-color: #eeeeee;
    height: auto;
    width: 100%;
}

.card-header-tieza-bg-color{
    background-color: #2764c496 !important; 
    color: #FFFFFF !important;
}

.card-body-tieza-bg-color{
    background-color: #8db0e796 !important;
     color: #FFFFFF !important;
}

.icon-tieza-bg-color{
    background-color: #818ea300 !important;
}

.pull-right{
    float:right;
}

.text-red{
    color: #ea4335 !important;
}
.be-left-sidebar 
{
    background:#FFFFFF !important;
    color:black;
    
}
.be-top-header{
   
    background-color:rgba(10, 144, 207, 100);

}
.card-home
{
    width:50%;
    border-radius:10px!important;
    background: #ccffff !important;
}
.card-dashboard
{ 
    width:50%;
    border-radius:10px!important;
    background: #ffff99 !important;
}
.card-transaction
{
    width:50%;
    border-radius:10px!important;
    background: #99ccff !important;
}
.card-collection
{
    width:50%;
    border-radius:10px!important;
    background: #3cb371 !important;
}
.card-reports
{
    width:50%;
    border-radius:10px!important;
    background: #d0bc80 !important;
}
.card-record
{
    width:50%;
    border-radius:10px!important;
    background: #FCB650 !important;
}
.card-filesetup
{
    width:50%;
    border-radius:10px!important;
    background: #6b9023 !important;
}
.crd:hover{
    background: #4285F4 !important;
    color:white;
}
.crd
{
    font-size: 0.85rem;
}
 /* input { 
    text-transform: uppercase;
}
.select2-selection { 
   text-transform: uppercase;
} */